package views
import (
  "github.com/labstack/echo/v4"
	"golang.org/x/text/cases"
	"golang.org/x/text/language"
	"htmx/api"
) 

templ TypeNavigation(c echo.Context, pokemons []api.Pokemon) {
	<h1 class="text-xl text-bold">{cases.Title(language.English).String(c.ParamValues()[0])} Type</h1>
	for _, item := range pokemons {
		<button hx-push-url="true" hx-target="#content" hx-get={"/search?query=" + item.Pokemon.Name}>{item.Pokemon.Name}</button>
	}
	} 

