package views

import "htmx/api"


templ ApiResult(items []api.Type) {
	<ul class="grid gap-2">
		for _, item := range items {
			<button hx-get={"/type/"+item.Name} hx-target="#content">{ item.Name }</button>
		}
	</ul>
}
