package views
import (
  "github.com/labstack/echo/v4"
	"golang.org/x/text/cases"
	"golang.org/x/text/language"
	"htmx/api"
) 

templ TypePage(c echo.Context, pokemons []api.Pokemon) {
	<h1 class="text-xl text-bold">{cases.Title(language.English).String(c.ParamValues()[0])} Type</h1>
	for _, item := range pokemons {
		<p>{item.Pokemon.Name}</p>
	}
	} 

